.custom-agent {
  position: relative;
  top: -35px;
  left: 0;
  transition: 0.1s ease-in-out;
}

.custom-agent:hover {
  scale: 1.2;
}

#teste {
  background-image: linear-gradient(to bottom, #00000000, #00000000, #f43f5e);
}

.card-image {
  filter: grayscale(1);
  transition: 0.2s ease-in-out;
}

.card-image:hover {
  filter: grayscale(0);
}

.character-image {
  filter: drop-shadow(2px 4px 6px black);
  transition: 0.2s ease-in-out;
}

.character-image:hover {
  filter: drop-shadow(2px 4px 6px black);
  scale: 1.2;
}
